.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
}

.teoric-content-screen {
  max-width: 900px;
}

@media (min-width: 900px) {
  .teoric-content-screen {
    margin: 0 auto;
  }
}